<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="pathfileconflog4net" value="C:\PROGETTI RIBES\web\NET\ComplusEXE\bin\log4net.xml"/>
		<add key="ParametroENV" value="OG_TRIBUTI_PRE_RIBES"></add><!--_PRO_RIBES-->
		<add key="username" value="riadm"></add>
		<add key="IDENTIFICATIVOAPPLICAZIONE" value="OPENGOVI"></add>
		<add key="OPENGOVI" value="OPENGOVI"/>
		<add key="OPENGOVT" value="OPENGOVT"/>
		<add key="OPENGOVP" value="OPENGOVP"/>
		<add key="OPENGOVG" value="OPENGOVG"/>
		<add key="OPENGOVA" value="OPENGOVA"/>
		<add key="OPENGOVU" value="OPENGOVU"/>
		<add key="OPENGOVC" value="OPENGOVC"/>
		<add key="OPENGOVTA" value="OPENGOVTA"/>
		<add key="OPENGOVTIA" value="OPENGOVTIA"/>
		<add key="OPENGOVTOCO" value="OPENGOVTOCO"/>
		<add key="connectionStringSQLOPENgov" value="Data Source = 192.168.81.214;Initial Catalog = OPENgov_TRIBUTI; persist security info=true;password=opengov;User ID=opengov"></add>		
		<add key="URLServiziFreezer" value="http://localhost:51111/COMPLUSFreezer.soap"/>
		<add key="CONFIGURAZIONE_DICHIARAZIONE" value="false" ></add>
	</appSettings>
</configuration>
