<?xml version="1.0" encoding="utf-8"?>
<configuration>
	 <appSettings>
    <add key="LINGUA_DATE" value="yyyy-MM-dd 00:00:00"></add>
		<!--<add key="DBType" value="SQLClient"/>
		<add key="connectionStringOPENGOVI" value="data source=localhost;initial catalog=OPENgovICI;persist security info=true;password=alep;user id=sa;workstation id=;packet size=4096"/>-->
		
		<add key="TCP_PORT" value="51110"/>
		<add key="HTTP_PORT" value="51111"/>	
				
		<!--
		non devono essere usati all'interno del complus i dati devono arrivare dall'esterno 
		perchè il complus è unico per più sistemi
		<add key="NOME_DATABASE_ICI" value="opengovici_GC"></add>	
		<add key="NOME_DATABASE_PROVVEDIMENTI" value="opengovprovvedimenti_GC"></add>
		<add key="NOME_DATABASE_ANAGRAFICA" value="Open_Anagrafica_GC"></add>
		<add key="NOME_DATABASE_TARSU" value="OPENgovTARSU_GC"></add>		
		-->
		<add key="pathfileconflog4net" value="C:\Dev\PAL\Codice\Motore Provvedimenti\OPENgovProvvedimentiService\bin\log4net.xml"/>
		<!--<add key="URLServiziFreezer" value="http://localhost:50711/COMPLUSFreezer.rem"/>-->
    <add key="URLServiziFreezer" value="http://192.168.14.113:50711/COMPLUSFreezer.rem" />
		
		<add key="LUNGHEZZA_STRINGA_ATTO" value="3"></add>
    <add key="DecimalSeparator" value="."/>
  </appSettings>  
       <system.runtime.remoting> 
                <customErrors mode="Off"/> 
       </system.runtime.remoting> 
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
