<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	 <appSettings>
  
		<!--<add key="DBType" value="SQLClient"/>
		<add key="connectionStringOPENGOVI" value="data source=localhost;initial catalog=OPENgovICI;persist security info=true;password=alep;user id=sa;workstation id=;packet size=4096"/>-->
		
		<add key="TCP_PORT" value="51110"/>
		<add key="HTTP_PORT" value="51111"/>	
		<!--<add key="NOME_DATABASE_ICI" value="opengovici_GC"></add>	
		<add key="NOME_DATABASE_PROVVEDIMENTI" value="opengovprovvedimenti_GC"></add>
		<add key="NOME_DATABASE_ANAGRAFICA" value="Open_Anagrafica_GC"></add>
		<add key="NOME_DATABASE_TARSU" value="OPENgovTARSU_GC"></add>-->
		
		<add key="NOME_DATABASE_ICI" value="opengovici_tributi"></add>	
		<add key="NOME_DATABASE_PROVVEDIMENTI" value="opengovprovvedimenti_tributi"></add>
		<add key="NOME_DATABASE_ANAGRAFICA" value="OpengovAnagrafica_tributi"></add>
		<add key="NOME_DATABASE_TARSU" value="OPENgovTARSU_tributi"></add>		
		
		<add key="pathfileconflog4net" value="D:\Provvedimenti\complusexe\log4net.xml"/>
		
		<add key="LUNGHEZZA_STRINGA_ATTO" value="3"></add>
		
  </appSettings>  
       <system.runtime.remoting> 
                <customErrors mode="Off"/> 
       </system.runtime.remoting> 
       
</configuration>
